<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
</head>
<body>
    <h1>Books Available:</h1>
    <ul>
        {% for book in books %}
        <li>{{ book.title }} by {{ book.author.name }}</li>
        {% empty %}
        <li>No books available.</li>
        {% endfor %}
    </ul>
    <div style="margin-top: 20px;">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}! 
               (Role: {{ user.userprofile.role }})
               <a href="{% url 'relationship_app:logout' %}">Logout</a>
            </p>
            <p>
                {% if user.userprofile.role == 'Admin' %}
                    <a href="{% url 'relationship_app:admin_view' %}">Admin Dashboard</a> |
                {% elif user.userprofile.role == 'Librarian' %}
                    <a href="{% url 'relationship_app:librarian_view' %}">Librarian Dashboard</a> |
                {% elif user.userprofile.role == 'Member' %}
                    <a href="{% url 'relationship_app:member_view' %}">Member Dashboard</a> |
                {% endif %}
            </p>
        {% else %}
            <p>
                <a href="{% url 'relationship_app:login' %}">Login</a> | 
                <a href="{% url 'relationship_app:register' %}">Register</a>
            </p>
        {% endif %}
    </div>
    <a href="{% url 'relationship_app:library_list' %}">View Libraries</a>
</body>
</html>